/* 카카오맵 API*/
.map-container {
    background-color: black;
    width: 100%;
    overflow: hidden;
}

.map-box {
    margin: 0px auto 50px auto;
}

.map {
    margin: auto;
    width: 60vw;
    height: 35vw;
}

.map-title {
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin: 60px;
    text-align: center;
}

.map-address {
    color: white;
    text-align: center;
    margin: 40px auto 80px auto;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

.address-dot {
    z-index: 10;
}

.customoverlay {
    position: relative;
    bottom: 55px;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    float: left;
}

.customoverlay:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    background: #238cfa;
    background: #238cfa url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png') no-repeat right 14px center;
}

.customoverlay .title {
    display: block;
    text-align: center;
    background: #fff;
    margin-right: 35px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
}

.customoverlay:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: -12px;
    width: 22px;
    height: 12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 25px;
        margin: 30px;
    }

    .map-box {
        margin: 0px auto 30px auto;
    }

    .map {
        /* background-color: red; */
        margin: auto;
        width: 90vw;
        height: 60vw;
    }

    .customoverlay .title {
        font-size: 12px;
    }

    .map-title {
        font-size: 16px;
    }

    .map-address {
        font-size: 14px;
    }
}