.calendar-container {
    background-color: black;
    width: 100%;
}

.calendar {
    width: 70%;
    margin: auto;
    padding: 100px 0px 50px 0px;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.year-month {
    font-size: 35px;
    color: white;
    font-weight: bold;
}
.calendar-nav {
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
}
.cal-btn {
    width: 28px;
    height: 30px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}
.go-today {
    width: 80%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background: rgba(255, 255, 255, 0.1)
}

.go-prev, .go-next {
    background: rgba(255, 255, 255, 0.1)
}

.go-today:hover, .go-prev:hover, .go-next:hover{
    background: rgba(255, 255, 255, 0.9);
    color: black;
}

.calendar-main{
    border-collapse: collapse;
    width: 100%;
}
.days {
    display: flex;
    margin: 25px 0 10px;
}
.day {
    width: calc(100% / 7);
    text-align: center;
    transition: all .3s;
    color: white;
    font-weight: bold;
}
.dates {
    display: flex;
    flex-flow: row wrap;
}
.date {
    width: calc(100% / 7 - 6px);
    margin: 3px;
    padding: 10px 0;
    min-height: 130px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    transition: all .3s;
    color: white;
    font-weight: bold;
}
.day:nth-child(7n+1),
.date:nth-child(7n+1) {
    color: #FFCCCB;
}
.day:nth-child(7n),
.date:nth-child(7n) {
    color: lightblue;
}
.other {
    color: rgba(88, 88, 88, 0.9) !important;
}
.today-padding {
    background-color: purple;
    padding: 5px 10px;
    border-radius: 100%;
}

.today {
    background-color: purple;
    padding: 5px 6px;
    border-radius: 100%;
}
.reservation-list {
    font-weight: lighter;
    font-size: 12px;
}

@media screen and (max-width: 1000px) {
    .calendar {
    width: 90%;
    }
    .year-month {
    font-size: 28px;
    }
}

@media screen and (max-width: 786px) {
    .date{
        min-height: 70px;
    }
}