.terms-box {
    width: 80vw;
    margin-bottom: 50px;
    padding: 20px;
}

.terms-title {
    font-size: 30px;
}

.terms-sub-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}

.terms-text {
    font-size: 12px;
    margin-left: 20px;
    word-break: keep-all;
}

.terms-sub-text {
    font-size: 12px;
    margin-left: 40px;
    word-break: keep-all;
}