<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='소나기로고.png') }}" rel="shortcut icon" type="image/x-icon">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- <fontawesome> -->
    <script src="https://kit.fontawesome.com/8c330d8a63.js" crossorigin="anonymous"></script>
    
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap" rel="stylesheet">  

    <title>스튜디오 소나기</title>

    <style>

    </style>
</head>

<body>
    <a href="/"><img class="logo" src="{{ url_for('static', filename='로고.png') }}" alt="로고"></div>
    <nav class="nav_bar">
        <ul class="nav_menu">
            <li class="nav_list"><a class="nav_link" href="/">HOME</a></li>
            <li class="nav_list"><a class="nav_link" href="/sound">SOUND STUDIO</a></li>
            <li class="nav_list"><a class="nav_link" href="/virtual">VIRTUAL STUDIO</a></li>
            <li class="nav_list"><a class="nav_link" href="/filmography">FILMOGRAPHY</a></li>
            <li class="nav_list"><a class="nav_link" href="/contact">CONTACT</a></li>
        </ul>
        <a href="#" class="nav_btn"><i class="fas fa-bars"></i></a>

        <div>
            <h1>RESERVATON</h1>
            <table>
                <tr>
                    
                </tr>
            </table>
        </div>
    </nav>
</body>
</html>