<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="소나기사운드웍스" />
    <meta property="og:description" content="소나기사운드웍스는 사운드 디자인, 믹싱 및 사운드 후반작업을 전문적으로 하는 사운드 스튜디오입니다." />
    <meta property="og:image" content="{{ url_for('static', filename='img/소나기사운드웍스_배경1.JPG') }}" />

    <!-- naver -->
    <meta name="naver-site-verification" content="5216e2425c8d664ca1044ba4ce93ad006a4159ef" />
    <!-- google -->
    <meta name="google-site-verification" content="6PUIkpo3ZS8oODBmeIU32yTk8MRxJYL_pzkJohBgr28" />

    <link href="{{ url_for('static', filename='img/소나기로고.png') }}" rel="shortcut icon" type="image/x-icon">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/8c330d8a63.js" crossorigin="anonymous"></script>

    <!-- kakaomap -->
    <script type="text/javascript"
        src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=e7d72bbbefb241406c90a501568226f0"></script>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>


    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap" rel="stylesheet">

    <!-- css -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/studio.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet" type="text/css">

    <title>스튜디오 소나기</title>

    <style>
        /* 배경 */
        .sound-bg1 {
            background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
            url("{{ url_for('static', filename='img/소나기사운드웍스_배경1.JPG') }}");
        }

        .sound-bg2 {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
            url("{{ url_for('static', filename='img/소나기사운드웍스_배경2.jpg') }}");
        }
    </style>
</head>

<body>
    <!-- 헤더 -->
    <a href="/"><img class="logo" src="{{ url_for('static', filename='img/로고.png') }}" alt="logo"></a>
    <nav class="nav-bar">
        <ul class="nav-menu">
            <li class="nav-list"><a class="nav-link" href="/virtual">VIRTUAL STUDIO</a></li>
            <li class="nav-list"><a class="nav-link" href="/portfolio">PORTFOLIO</a></li>
            <li class="nav-list"><a class="nav-link" href="/sample">3D MAP</a></li>
            <li class="nav-list"><a class="nav-link" href="/contact">RESERVATION</a></li>
            <li class="nav-list"><a class="nav-link" href="/sound">SOUND WORKS</a></li>
            <li class="nav-list"><a class="nav-link" href="/filmography">FILMOGRAPHY</a></li>
        </ul>
        <a href="#" class="nav-btn"><i class="fas fa-bars"></i></a>
    </nav>
    <!-- 사운드웍스 메인 -->
    <div class="studio-container sound-bg1">
        <p><img class="sound-logo" src="{{ url_for('static', filename='img/소나기사운드웍스_로고.png') }}" alt="SONAGI SOUND WORKS">
        </p>
    </div>
    <!-- 사운드웍스 정보 -->
    <div class="info-container sound-bg2">
        <div class="info-wrapper">
            <h1 class="info-title">소나기사운드웍스</h1>
            <div class="info-text">
                <p>저희 소나기사운드웍스는 영화, 드라마, 애니메이션 등</p>
                <p>다양한 매체에서의 사운드 디자인, 믹싱 및 사운드 후반작업을</p>
                <p>전문적으로 하는 사운드 스튜디오입니다.</p>
                <p>박주강 대표를 중심으로 오랜 경력과 다양한 경험을 가진</p>
                <p>스테프들의 열정적인 자세와 기발한 상상력으로</p>
                <p>보다 창의적이고 높은 수준의 컨텐츠를 보여드릴 것입니다.</p>
            </div>
        </div>
    </div>
    <!-- 사운드웍스 시설 -->
    <div class="faciltity-container">
        <div class="facility-top">
            <h3 class="facility-title">FACILITY</h3>
        </div>
        <div class="facility-box">
            <div>
                <img class="facility-img" src="{{ url_for('static', filename='img/소나기사운드웍스_시설1.JPG') }}" alt="Mixing Room">
                <p class="facility-text">Mixing Room</p>
            </div>
            <div>
                <img class="facility-img" src="{{ url_for('static', filename='img/소나기사운드웍스_시설2.JPG') }}" alt="Lobby">
                <p class="facility-text" style="margin-bottom: 70px;">Lobby</p>
            </div>
        </div>
    </div>
    <!-- 사운드웍스 지도 -->
    <div class="map-container">
        <div class="map-box">
            <h2 class="map-title">LOCATION</h2>
            <div id="map2" class="map"></div>
            <p class="map-address">경기도 성남시 중원구 사기막골로 177, 418호</p>
        </div>
    </div>
    <!-- 푸터 -->
    <div class="footer-container">
        <div class="footer-wrapper">
            <div class="icon-box" id="sns-box"></div>
            <p class="footer-title">상호명: 주식회사 소나기사운드웍스 | 대표: 박주강 | 사업자등록번호: 309-87-01246</p>
            <div class="footer-boxes">
                <div class="footer-box">
                    <p class="footer-studio">소나기사운드웍스</p>
                    <p class="footer-info"><i class="fa-solid fa-location-dot"></i> 경기도 성남시 중원구 사기막골로 177, 418호</p>
                    <p class="footer-info"><i class="fa-solid fa-envelope"></i> sonagisound@gmail.com
                        <i class="fa-solid fa-phone"></i> 070-4485-8776
                    </p>
                </div>
                <div class="footer-box">
                    <p class="footer-studio">소나기버추얼스튜디오</p>
                    <p class="footer-info"><i class="fa-solid fa-location-dot"></i> 서울특별시 금천구 벛꽃로 14길 12, 1층</p>
                    <p class="footer-info"><i class="fa-solid fa-envelope"></i> sonagiled@gmail.com
                        <i class="fa-solid fa-phone"></i> 010-4145-0408
                    </p>
                </div>
            </div>
            <div class="footer-link-box"><a class="footer-link" href="/terms">이용약관</a> | <a class="footer-link"
                    href="/policy">개인정보 처리방침</a></div>
            <a class="copyright" href="/admin">COPYRIGHT © SONAGI SOUNDWORKS ALL RIGHTS RESERVED.</a>
        </div>
    </div>
    <!-- 위로가기 버튼 -->
    <div>
        <button id="top-btn">^</button>
    </div>
    <!-- js -->
    <script src="{{ url_for('static', filename='js/toggleBtn.js') }}"></script>
    <script src="{{ url_for('static', filename='js/iphoneSize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mixStage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sns.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollTop.js') }}"></script>
</body>

</html>