<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="소나기버추얼스튜디오"/>
    <meta property="og:description" content="소나기버추얼스튜디오는 LED Wall을 활용하여 촬영하는 버추얼 프로덕션 스튜디오입니다."/>
    <meta property="og:image" content="{{ url_for('static', filename='소나기버추얼스튜디오_배경1.JPG') }}"/>

    <!-- naver -->
    <meta name="naver-site-verification" content="5216e2425c8d664ca1044ba4ce93ad006a4159ef" />
    <!-- google -->
    <meta name="google-site-verification" content="6PUIkpo3ZS8oODBmeIU32yTk8MRxJYL_pzkJohBgr28" />    

    <link href="{{ url_for('static', filename='소나기로고.png') }}" rel="shortcut icon" type="image/x-icon">
        
    <!-- kakaomap -->
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=e7d72bbbefb241406c90a501568226f0"></script>
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/8c330d8a63.js" crossorigin="anonymous"></script>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap" rel="stylesheet">  
    
    <!-- css -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='header.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='studio.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='map.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='footer.css') }}" rel="stylesheet" type="text/css">

    <title>스튜디오 소나기</title>

    <style>         
        /* 배경 */
        .virtual-bg1 {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("{{ url_for('static', filename='소나기버추얼스튜디오_배경1.JPG') }}");
        }

        .virtual-bg2 {
            background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("{{ url_for('static', filename='소나기버추얼스튜디오_배경2.jpg') }}");
        }


    </style>
</head>
<body>
    <a href="/"><img class="logo" src="{{ url_for('static', filename='로고.png') }}" alt="logo"></div>
    <nav class="nav-bar">
        <ul class="nav-menu">
            <li class="nav-list"><a class="nav-link" href="/virtual">VIRTUAL STUDIO</a></li>
            <li class="nav-list"><a class="nav-link" href="/portfolio">PORTFOLIO</a></li>
            <li class="nav-list"><a class="nav-link" href="/sample">3D MAP</a></li>
            <li class="nav-list"><a class="nav-link" href="/contact">RESERVATION</a></li>
            <li class="nav-list"><a class="nav-link" href="/sound">SOUND WORKS</a></li>
            <li class="nav-list"><a class="nav-link" href="/filmography">FILMOGRAPHY</a></li>
        </ul>
        <a href="#" class="nav-btn"><i class="fas fa-bars"></i></a>
    </nav>
    <div class="studio-container virtual-bg1">
        <p><img class="virtual_logo" src="{{ url_for('static', filename='소나기버추얼스튜디오_로고.png') }}" alt="소나기버추얼스튜디오"></p>
    </div>
    <div class="info-container virtual-bg2">
        <div class="info-wrapper">
            <h1 class="info-title">소나기버추얼스튜디오</h1>
            <div class="info-text">
                <p>저희 소나기버추얼스튜디오는 LED 화면에 가상 공간을 띄워</p>
                <p>기존 야외 촬영이 갖는 여러 제약을 극복하고 원하는 배경에서</p>
                <p>촬영이 가능한 버추얼 프로덕션 스튜디오입니다.</p>
                <p>영상제작 경험과 얼리얼 엔진 기술을 고루 갖추고 있는</p>
                <p>스테프들의 열정적인 자세와 전문적인 기술을 통해</p>
                <p>대형 LED 화면 앞에서 상상은 현실이 될 것입니다.</p>
            </div>
        </div>
    </div>
    <div class="faciltity-container">
        <div class="facility-top">
            <h3 class="facility-title">FACILITY</h3>
        </div>
        <div class="facility-box">
            <div>
                <img class="facility-img" src="{{ url_for('static', filename='소나기버추얼스튜디오_시설1.jpg') }}" alt="Exterior">
                <p class="facility-text">Exterior<br/><span class="led_wall">주차 2대 가능</span></p>
            </div>
            <div>
                <img class="facility-img" src="{{ url_for('static', filename='소나기버추얼스튜디오_배경1.JPG') }}" alt="Studio">
                <p class="facility-text">Studio<br/><span class="led_wall">차량 진입 가능 (진입 높이 2300mm)</span></p>
            </div>
            <div>
                <img class="facility-img" src="{{ url_for('static', filename='소나기버추얼스튜디오_시설2.JPG') }}" alt="Makeup Room">
                <p class="facility-text">Makeup Room</p>
            </div>
            <div>
                <img class="facility-img" src="{{ url_for('static', filename='소나기버추얼스튜디오_시설3.JPG') }}" alt="Fitting Room">
                <p class="facility-text">Fitting Room</p>
            </div>
            <div>
                <img class="facility-img" src="{{ url_for('static', filename='소나기버추얼스튜디오_시설5.JPG') }}" alt="LED Wall">
                <p class="facility-text" style="margin-bottom: 70px;">LED Wall<br/><span class="led_wall">크기: 7680 x 3584mm | 피치: 2mm | 해상도: 3840 x 1792px</span></p>
            </div>
        </div>
    </div>
    <div class="map-container">
        <div class="map-box">
            <h2 class="map-title">LOCATION</h2>
            <div id="map1" class="map"></div>
            <p class="map-address">서울특별시 금천구 벛꽃로 14길 12, 1층</p>
        </div>
    </div>
    <div class="footer-container">
        <div class="footer-wrapper">
            <div class="icon-box" id="sns-box"></div>
            <p class="footer-title">상호명: 주식회사 소나기사운드웍스 | 대표: 박주강 | 사업자등록번호: 309-87-01246</p>
            <div class="footer-boxes">
                <div class="footer-box">
                    <p class="footer-studio">소나기사운드웍스</p>
                    <p class="footer-info"><i class="fa-solid fa-location-dot"></i> 경기도 성남시 중원구 사기막골로 177, 418호</p>
                    <p class="footer-info"><i class="fa-solid fa-envelope"></i> sonagisound@gmail.com  
                    <i class="fa-solid fa-phone"></i> 070-4485-8776</p>
                </div>
                <div class="footer-box">
                    <p class="footer-studio">소나기버추얼스튜디오</p>
                    <p class="footer-info"><i class="fa-solid fa-location-dot"></i> 서울특별시 금천구 벛꽃로 14길 12, 1층</p>
                    <p class="footer-info"><i class="fa-solid fa-envelope"></i> sonagiled@gmail.com  
                    <i class="fa-solid fa-phone"></i> 010-4145-0408</p>
                </div>
            </div>
                <div class="footer-link-box"><a class="footer-link" href="/terms">이용약관</a> | <a class="footer-link" href="/policy">개인정보 처리방침</a></div>
            <a class="copyright" href="/admin">COPYRIGHT © SONAGI SOUNDWORKS ALL RIGHTS RESERVED.</a>
        </div>
    </div>
    <div>
        <button id="top-btn">^</button>
    </div>
    <!-- js -->
    <script src="{{ url_for('static', filename='toggleBtn.js') }}"></script>
    <script src="{{ url_for('static', filename='iphoneSize.js') }}"></script>
    <script src="{{ url_for('static', filename='virtualStudio.js') }}"></script>
    <script src="{{ url_for('static', filename='sns.js') }}"></script>
    <script src="{{ url_for('static', filename='scrollTop.js') }}"></script>
</body>
</html>